* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 5.5vh;
}

.background {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(255, 165, 150, 0.5); /*fallback color*/
  background: linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35));
}

.mainContainer {
  width: 70vh;
  height: 70vh;
  border-radius: 1vh;

  background: snow;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainContainerTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%); /* change this dfgjsedijfg sdjgdosf */
}

.mainContainerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* change this lol*/

  height: 25vh;
  width: 55vh;
}

.signInButton {
  background-color: rgba(255, 165, 150, 0.5); 
  border: none;
  color: white;
  padding: 0.5vh 0.5vh;
  text-align: center;
  font-size: 3.25vh;
  font-family: 'Oxygen', sans-serif;
  border-radius: 0.5vh;
}

.signInButton:hover {
  background-color: rgba(255, 200, 200, 0.5); 
}

.registerButton {
  background-color: rgba(0, 228, 255, 0.35);
  border: none;
  color: white;
  padding: 0.5vh 0.5vh;
  text-align: center;
  font-size: 3.25vh;
  font-family: 'Oxygen', sans-serif;
  border-radius: 0.5vh;
}

.registerButton:hover {
  background-color: rgba(88, 239, 255, 0.35);
}

.sizeIcon {
  height: 7vh;
  width: 7vh;
}

.inputs {
  width: 70%;
  height: 7vh;
  transform: translate(5%, -35%);
  
  font-family: 'Oxygen', sans-serif;
  font-size: 2vh;

  padding: 0px 2vh;
}

.centerText {
  text-align: center;
}